:root {
  --primary-color: #ed3b26;
  --light-color: #fff;
  --dark-color: #111;
  --secondary-color: rgb(47, 46, 46);
  --side-color: rgb(67, 194, 50);
  --font-base: sans-serif;
  --font-about: sans-serif;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}
.wd-color {
  color: #40e0d0;
}
.ww-color {
  color: #ffa07a;
}
.de-color {
  color: var(--primary-color);
}
.de {
  background: var(--primary-color);
}
.ww {
  background: #ffa07a;
}
.wd {
  background: #40e0d0;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
}
.btn-primary {
  display: inline-block;
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid var(--primary-color);
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--primary-color);
  background: none;
}
.btn-primary:hover {
  color: var(--primary-color);
  background: none;
}
/* Button web developer */
.btn-wd {
  display: inline-block;
  background: #40e0d0;
  color: var(--light-color);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #40e0d0;
  transition: all 0.3s ease;
}
.btn-wd:hover {
  color: #40e0d0;
  background: none;
}
/* Woodworker button */
.btn-ww {
  display: inline-block;
  background: #ffa07a;
  color: var(--light-color);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #ffa07a;
  transition: all 0.3s ease;
}
.btn-ww:hover {
  color: #ffa07a;
  background: none;
}

.btn-side {
  display: inline-block;
  /* background: var(--side-color); */
  color: var(--light-color);
  font-size: 25px;
  padding: 5px 15px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 3px solid var(--side-color);
  transition: all 0.3s ease;
}
